<% include ./partials/header %>

<div class="container-fluid">
	<h1>Movie Search Engine</h1>
		<form action="index.html" method="post" class="form">
			<input type="text" name="search" placeholder="Search for a movie ...">
			<input type="submit" value="Search">
		</form>
</div>

<% include ./partials/footer %>
