<% include ./partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1 class="text-center login-header">Movie Search Engine</h1>
		</div>

	</div>
	<div class="row">
		<div class="wrap-login col-md-4 col-md-offset-4">
			<h2>Register</h2>
			<form method="post" action="/register">
			  <div class="form-group">
			    <label for="name">First Name</label>
			    <input type="name" name="name" class="form-control" placeholder="Joanne">
			  </div>
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" name="email" class="form-control" placeholder="email@email.com">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" name="password" class="form-control" placeholder="password">
			  </div>
			  <div class="form-group">
			    <label for="confirmPassword">Confirm Password</label>
			    <input type="password" name="confirmPassword" class="form-control" placeholder="confirm password">
			  </div>
			  <input type="submit" class="btn-login btn btn-default"></input>
			</form>
		</div>
	</div>

</div>

<% include ./partials/footer %>
